<div fxLayout="column" fxLayoutAlign="start stretch">
    <div style="background-color:#6f4e37" fxFlex="100px" fxLayout="row" fxLayoutAlign="space-between center">
        <img fxFlex="10" src="assets/logo.png">
        <div *ngIf="(userState$ != null )  && (userState$ | async).loggedIn == false" fxFlex="grow" fxLayout="row"
            fxLayoutGap="10px" fxLayoutAlign="end center">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-user"
                        style="line-height: 1.25;color:#6f4e37 "></i></span>
                <input [(ngModel)]="userName" type="text" pInputText placeholder="Username">
            </div>
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon"><i class="pi pi-key"
                        style="line-height: 1.25;color:#6f4e37"></i></span>
                <input [(ngModel)]="password" type="password" pInputText (keydown.enter)="doLogin(userName,password)" placeholder="Password">
            </div>
            <p-button [disabled]="userName == null || password == null" (click)="doLogin(userName,password)" fxLayout="column" fxLayoutAlign="center stretch">
                <div fxLayout="row" fxFlexFill fxLayoutAlign="center center" style="border:solid #624732 2px!important">
                    <i style="color:white" class="pi pi-key"></i>
                    <label>Login</label>
                    <p-toast position="top-left"></p-toast>
                </div>
            </p-button>
        </div>
        <div *ngIf="(userState$ != null )  && (userState$ | async).loggedIn == true" fxFlex="grow" fxLayout="row"
            fxLayoutGap="10px" fxLayoutAlign="space-around center">
            <label class="menu-item">targets</label>
            <label class="menu-item">users</label>
            <label class="menu-item">settings</label>
            <label class="menu-item" (click)="doLogout()">logout</label>
        </div>


    </div>
    <div fxLayout="column" fxFlex="auto" fxLayoutAlign="center center">
        <router-outlet fxLayout="column" fxFlex="auto" fxLayoutAlign="center center"></router-outlet>
    </div>
</div>