
:host {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}


.menu-item {
  color:white;
  font-variant: small-caps;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: underline;
  letter-spacing: 2px; 
  font-size: 20px;
}
.menu-item:hover{
  color:gainsboro;
  box-shadow: black;
  }
