<p-fieldset legend="Details">
    <form [formGroup]="form" (ngSubmit)="save()" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start stretch">
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <label fxFlex="20%">Hostname</label>
            <div fxFlex="60%" fxLayout="column" fxLayoutAlign="center center">
                <input type="text" pInputText formControlName="hostname" class="form-control"
                    [ngClass]="{ 'is-invalid': form.controls['hostname'].errors }" />
                <div *ngIf="form.controls['hostname'].errors">
                    <div *ngIf="form.controls['hostname'].errors.required">Hostname address is required</div>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <label fxFlex="20%">MAC</label>
            <div fxFlex="60%" fxLayout="column" fxLayoutAlign="center center">
                <input type="text" pInputText formControlName="mac" class="form-control"
                    [ngClass]="{ 'is-invalid': form.controls['mac'].errors }" />
                <div *ngIf="form.controls['mac'].errors">
                    <div *ngIf="form.controls['mac'].errors.required">MAC address is required</div>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <label fxFlex="20%">IP</label>
            <div fxFlex="60%" fxLayout="column" fxLayoutAlign="center center">
                <input type="text" pInputText formControlName="ip" class="form-control"
                    [ngClass]="{ 'is-invalid': form.controls['ip'].errors }" />
                <div *ngIf="form.controls['ip'].errors">
                    <div *ngIf="form.controls['ip'].errors.required">IP address is required</div>
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center">
            <label fxFlex="20%">PIN code</label>
            <div fxFlex="60%" fxLayout="column" fxLayoutAlign="center center">
                <input type="number" pInputText formControlName="pin" class="form-control" />
            </div>
        </div>
    </form>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
        <back-button></back-button>
        <p-button [disabled]="(saveInProgress$ | async) || form.invalid" fxLayout="column"
            fxLayoutAlign="center stretch" (click)="save()">
            <div fxLayout="row" fxFlexFill fxLayoutAlign="center center">
                <i style="color:white" class="pi pi-save"></i>
                <label>Save</label>
            </div>
        </p-button>
    </div>
</p-fieldset>