* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
}
tr {
  height: 50px !important;
  min-width: 50px !important;
}
coffe-root {
  display: block;
  height: 100%;
}

i {
  font-size: 30px !important;
}
p-checkbox > div > div >span {
  background-color: #6f4e37 !important;
  color: white;
  border: 0px !important;
  &:hover {
    background-color: #583e2b !important;
  }
  &:active {
    background-color: #412e21 !important;
  }
}
p-button > button {
  background-color: #6f4e37 !important;
  color: white;
  border: 0px !important;
  &:hover {
    background-color: #583e2b !important;
  }
  &:active {
    background-color: #412e21 !important;
  }
}
.no-padding {
  padding: 5px !important;
}

p-button {
  height: 100px;
  width: 150px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}