<p-dialog header="Discover local network hosts" [(visible)]="isDiscoveryVisible"
    [style]="{width: '700px', height: '200px'}">
    <discover-dialog></discover-dialog>
</p-dialog>

<div fxLayout="column" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutGap="20px" fxFlexAlign="space-between center">
        <p-button (click)="add()" fxLayout="column" fxLayoutAlign="center stretch">
            <div fxLayout="row" fxFlexFill fxLayoutAlign="center center">
                <i style="color:white" class="pi pi-plus"></i>
                <label>Add</label>
            </div>
        </p-button>
        <p-button (click)="isDiscoveryVisible = true" fxLayout="column" fxLayoutAlign="center stretch">
            <div fxLayout="row" fxFlexFill fxLayoutAlign="center center">
                <i style="color:white" class="pi pi-search-plus"></i>
                <label>Discover</label>
            </div>
        </p-button>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" *ngIf="targets$ | async as data">
        <p-table fxFlex="70" fxFlex.md="85" fxFlex.sm="90" fxFlex.xs="95" [value]="data">
            <ng-template pTemplate="header">
                <tr>
                    <th>Pin to login page</th>
                    <th>Hostname</th>
                    <th>MAC</th>
                    <th>IP</th>
                    <th>Edit</th>
                    <th>Wake</th>
                    <th>Remove</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-target>
                <tr *ngIf="(getTargetView(target.id)) | async as view">
                    <td>
                        <div fxLayout="column" fxLayoutAlign="center center">                           
                            <input type="checkbox" [checked]="target.isPinned" (click)="pin(target)" />
                        </div>
                    </td>
                    <td>{{target.caption}}</td>
                    <td>{{target.macAddress}}</td>
                    <td>{{target.ipAddress}}</td>
                    <td class="no-padding">
                        <p-button [disabled]="view[0]?.isLoading" fxLayout="column" fxLayoutAlign="center stretch"
                            (click)="edit(target)">
                            <div fxLayout="row" fxFlexFill fxLayoutAlign="center center">
                                <i style="color:white" class="pi pi-pencil"></i>
                                <label>Edit</label>
                            </div>
                        </p-button>
                    </td>
                    <td class="no-padding">
                        <p-button [disabled]="view[0]?.isLoading" fxLayout="column" fxLayoutAlign="center stretch"
                            (click)="wake(target)">
                            <div fxLayout="row" fxFlexFill fxLayoutAlign="center center">
                                <i style="color:white" class="pi pi-power-off"></i>
                                <label>Wake</label>
                            </div>
                        </p-button>
                    </td>
                    <td class="no-padding">
                        <p-button [disabled]="view[0]?.isLoading" fxLayout="column" fxLayoutAlign="center stretch"
                            (click)="remove(target)">
                            <div fxLayout="row" fxFlexFill fxLayoutAlign="center center">
                                <i style="color:white" class="pi pi-ban"></i>
                                <label>Remove</label>
                            </div>
                        </p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>