<div fxLayout="row" fxFlexAlign="center center">
    <p-button (click)="add()">Add</p-button>
    <p-button (click)="add()">Discover</p-button>
</div>
<ng-container *ngIf="targets$ | async as data">
    <p-table [value]="data">
        <ng-template pTemplate="header">
            <tr>
                <th>Pin</th>
                <th>Caption</th>
                <th>MAC</th>
                <th>IP</th>
                <th>Wake</th>
                <th>Remove</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-target>
            <tr>
                <td>*</td>
                <td>{{target.caption}}</td>
                <td>{{target.macAddress}}</td>
                <td>{{target.ipAddress}}</td>
                <td>#</td>
                <td>X</td>
            </tr>
        </ng-template>
    </p-table>
</ng-container>