.big-text{
    font-variant: small-caps;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px; 
    font-size: 30px;
    color:#583e2b;
}
.target-item {
    color:white;
    font-variant: small-caps;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline;
    letter-spacing: 2px; 
    font-size: 20px;
  }
  .target-item:hover{
    color:gainsboro;
    box-shadow: black;
    }
  